PORT=3000

SESSION_SECRET=change-me-to-a-long-random-string
COOKIE_SECURE=false

ADMIN_EMAIL=admin@maisonvelvet.com
ADMIN_PASSWORD=MaisonVelvet!2026

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

CURRENCY=usd
FREE_SHIPPING_THRESHOLD_CENTS=15000
FLAT_SHIPPING_CENTS=800
